* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-lato;

    &.menu-open {
        @media(max-width: 900px) {
            overflow: hidden;
        }
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}