.myexp {
    padding: 75px 0;
    background-color: #ffffff;


    .container {


        h2 {
            text-align: center;
            color: $text-color;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 0.8;
            @include fluid-type (320px, 1170px, 20px, 40px);
        }

        .box {
            display: flex;
            justify-content: center;


            @media (max-width: 750px) {
                width: 100%;
                text-align: center;
                margin: 0 0 20px 0;
            }

            .time {
                padding: 30px 0 0 0;
                color: $text-color;
                text-align: justify;
                line-height: 1.5;
                font-size: 18px;
                font-weight: 700;
                @include fluid-type (320px, 1170px, 12px, 18px);

            }

            .data {
                width: 70%;
                padding: 30px 0 10px 40px;
                color: $text-color;
                text-align: justify;
                line-height: 1.5;
                font-size: 18px;
                @include fluid-type (320px, 1170px, 12px, 18px);

            }
        }


    }
}